[Unit]
Description=WebSDR server
After=multi-user.target
Requires=rtl_tcp@.service

[Service]
Type=simple
WorkingDirectory=/home/pi/dist11/
ExecStartPre=/bin/sleep 5
ExecStart=/home/pi/dist11/websdr-rpi /home/pi/dist11/websdr-%Im.cfg
Restart=on-abort

[Install]
WantedBy=multi-user.target
