Description=WebSDR server on %Im band
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/dist11/
ExecStartPre=/bin/sleep 10
ExecStartPost=/bin/bash -c 'sleep 5 && sudo systemctl --no-block restart rtl_tcp@0.service'
ExecStart=/home/pi/dist11/websdr-rpi /home/pi/dist11/websdr-%Im.cfg
ExecStop=/bin/kill -9 $MAINPID
Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target
